<div class="bottom-right dn db-ns ">
  <div class="side-nav">
    {{ if or (.IsHome) (isset .Params "project_featured_image") (eq .Kind "section") }}
      {{ range .Site.Menus.main }}
        <li class="list fw4 pv1 ph3-ns">
            <a class="link dim f4 f3-ns mh3  ttu tracked-mega fw5 lato white" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
            </a>
        </li>
      {{ end }}
    {{ else }}
      {{ range .Site.Menus.main }}
        <li class="list fw4 pv1 ph3-ns">
            <a class="link dim f4 f3-ns mh3  ttu tracked-mega fw5 lato black-80" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
            </a>
        </li>
      {{ end }}
    {{ end }}
  </div>
</div>
