<footer class="pv5 ph3 ph5-m ph6-l black-70 bt b--black-10 tc light-section">
  <small class="f4 db fw2 tc">&copy; {{ now.Format "2006" }} {{ .Site.Title }}, All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/about" title="Language" class="f4 dib ph2 link mid-gray dim">About</a>
    <a href="/projects"  title="Privacy" class="f4 dib ph2 link mid-gray dim">Projects</a>
    <a href="/contact"    title="Terms" class="f4 dib ph2 link mid-gray dim">Contact</a>
  </div>
</footer>