{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
  <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
  <script src="/js/siema.min.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
  <script src="/js/lightgallery.min.js"></script>
  <script src="/js/lg-video.min.js"></script>
  <script src="/js/lg-thumbnail.min.js"></script>

  <script>
    // Start midnight
    $(document).ready(function(){
        let saved = $(".master_logo");
        let saved_src = saved[0].src;

        $(window).scroll(function(){
          // Navbar switch
          let scroll = $(window).scrollTop();
          let nav = $('.logo-here');

          if ($(".logo-here").hasClass("featured_nav")) {
            let height = $('.overlay-container').height() - 55;
            if (scroll >= height) {
              nav.addClass("scrolled");
              $(".master_logo").attr("src","/images/cropped-trans-logo.png");
            } else {
              $(".master_logo").attr("src", saved_src);
              nav.removeClass("scrolled");
            }
          } else {
            if (scroll >= 150) {
              nav.addClass("scrolled");
              $(".master_logo").attr("src","/images/cropped-trans-logo.png");
            } else {
              $(".master_logo").attr("src", saved_src);
              nav.removeClass("scrolled");
            }
          }


          // Bottom right sticky menu switching
          // Only trigger if there is an element named .light-section on the page
          if ($('.light-section').length) {
            let section_position = $('.light-section').offset().top;
            let section_height = $('.light-section').height() + 300;
            let menu_position = $('.bottom-right').offset().top;

            if (menu_position > section_position && menu_position < (section_position + section_height)) {
              $('.bottom-right').addClass('dark-text');
              $('.bottom-right').removeClass('light-text');
            } else {
              $('.bottom-right').removeClass('dark-text');
              $('.bottom-right').addClass('light-text');
            }

            // Logo switching
            // if ($('.logo-here').length) {
            //   let logo_position = $('.logo-here').offset().top;
              
            //   if (logo_position > section_position && logo_position < (section_position + section_height)) {
            //     // Switch to dark logo
            //     $("#sticky-this").attr("src","/images/cropped-trans-logo.png");
            //   } else {
            //     // Switch to light logo
            //     // $("#sticky-this").attr("src","/images/cropped-trans-logo-white.png");
            //   }
            // }
          }
        })

        // $(window).scroll(function() {
        //   // Logo on list page switching
        //   // Only trigger if there is a .special-light-section element on the page (should only exist on projects page)
        //   if ($('.special-light-section').length) {
        //     let special_section_position = $('.special-light-section').offset().top;
        //     let special_section_height = $('.special-light-section').height();
        //     let logo_position = $('.logo-here').offset().top;

        //     if (logo_position < special_section_position && logo_position < (special_section_position + special_section_height)) {
        //       // Switch to dark logo
        //       $(".logo-here img").attr("src","/images/cropped-trans-logo.png");
        //     } else {
        //       // Switch to light logo
        //       // $(".logo-here img").attr("src","/images/cropped-trans-logo-white.png");
        //     }
        //   }
        // })
    })
  </script>
  <script>
  // Project Page Slider
    // const projectSiema = new Siema({
    //   loop: true,
    //   selector: '.pg-siema',
    //   duration: 500,
    //   easing: 'ease-out',
    // });
    // setInterval(() => projectSiema.next(), 6700);

    // const prev = document.querySelector('.prev');
    // const next = document.querySelector('.next');

    // prev.addEventListener('click', () => {
    //   projectSiema.prev(1)
    // });
    // next.addEventListener('click', () => {
    //   projectSiema.next(1)
    // });

  </script>
  <script>
  $(document).ready(function(){
    let lb_options = {
      loadYoutubeThumbnail: true,
      youtubeThumbSize: 'default',
      startClass:''
    };

    lightGallery(document.getElementById('gallery'), lb_options); 
    
    var $lg = $('#gallery');

    $lg.on('onBeforeSlide.lg',function(event){
      $('body').addClass('lg-off');
    });

    $lg.on('onSlideItemLoad.lg',function(event){
      $('body').removeClass('lg-off');
    });

      var $slideshow = $('.siema');
      var ImagePauses = [3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100, 3000, 100];

      // Init
      $slideshow.slick({
        initialSlide: 0,
        autoplay: true,
        autoplaySpeed: ImagePauses[0],
        dots: false,
        arrows: false,
        speed: 1000,
        fade: true
      });

      // Sliding settings
      $slideshow.on('afterChange', function(event, slick, currentSlide) {
        // Console log, can be removed
        console.log('Current slide: ' + currentSlide + '. Setting speed to: ' + ImagePauses[currentSlide]);

        // Update autoplay speed according to slide index
        $slideshow.slick('slickSetOption', 'autoplaySpeed', ImagePauses[currentSlide], true);

      });
  });
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });
  // Toggle button
  document.querySelector('.toggle-button').addEventListener('click', function() {
    slideout.toggle();
  });
  </script>
{{ end }}
