{{ define "main" }}
  <div class="bg-black siema">
    {{ range (where .Data.Pages "Section" "in" "projects") }}
          {{ if (eq .Params.featured true) }}
            {{ $vcl := "https://res.cloudinary.com/dpoitlxyq/image/upload" }}
            {{ $pth := .Params.project_featured_image | strings.TrimLeft $vcl }}
            <div class="overlay-container">
              <a href="{{ .Permalink }}">
                <div class="vh-100 cover bg-center htc" style="opacity:1; background-image: url({{ $vcl }}/c_scale,w_1800/{{ $pth }}); background-attachment: fixed;"></div>
              </a>
              <h1 class="avenir f1 fw2 white absolute bottom-1 left-2 tc pt3 mb0 tc">{{- .Params.title -}}</h1>
            </div>
            <div class="overlay-container">
              <a href="{{ .Permalink }}">
                <div class="h-100 cover bg-center htc" style="opacity:1; background-color: black; background-attachment: fixed;"></div>
              </a>
            </div>
          {{ end }}
    {{ end }}
  </div>
  <div class="bottom-left">
      <a href="/"><img src="/images/cropped-trans-logo-white.png" class="dn dib-ns w-60 w-25-l z-max" id="sticky-this" alt="Carlos Mata Architecture"></a>
  </div> 

  </article>
  <!-- <article class="cf pa2 pt5-ns light-section page_width">
    <div class="pa0">

      <div class="fl w-100 pa4 pt0 ph0 black-90 ">
          <p class="pt0 mt0 tc f4 f2-ns fw3 tj">{{ .Site.Data.about.Content }}</p>
      </div>
    </div>
  </article> -->
{{ end }}