{{ define "main" }}
<article class="cf pa0 pr2 pa4-ns pt6 pt6-ns ph4 tc" >
    <h1 class="fw4 f2 ttu tracked fl w-100 black-80 mt0 mb3 avenir tc">Projects</h1>
    <!-- <div class="tc">
        <button class="f6 w-40 w-33-ns w-10-ns link dim ba ph3 pv2 mb2 dib black" type="button" data-filter="all">All</button>
        <button class="f6 w-40 w-33-ns w-10-ns link dim ba ph3 pv2 mb2 dib black" type="button" data-filter=".Residential">Residential</button>
        <button class="f6 w-40 w-33-ns w-10-ns link dim ba ph3 pv2 mb2 dib black" type="button" data-filter=".Commercial">Commercial</button>
    </div> -->
    <div class="w-100 w-100-ns fix-grid filter-container special-light-section">
      {{ range .Data.Pages.ByWeight }}
        {{ $vcl := "https://res.cloudinary.com/dpoitlxyq/image/upload" }}
        {{ $pth := .Params.project_featured_image | strings.TrimLeft $vcl }}
        <div class="fl w-100 w-100-m w-33-l grid_height fix-grid-item mix pa2 {{ .Params.title }}">
          <a href="{{ .Permalink }}" style="background-image: url({{ $vcl }}/c_scale,w_600/{{ $pth }});" class="link h-100 dt hide-child w-100 cover bg-center">
            <span class="white dtc v-mid w-100 h-100 child bg-black-40 tc ttu tracked-mega fw4 f4 f3-ns">
              {{ .Params.name }}
            </span>
            </a>
        </div>
      {{ end }}
    </div>
  </article>
{{ end }}
