{{ $.Scratch.Add "labelClasses" "f6 b dib mb1 mt3 sans-serif mid-gray w-100 w-50-ns tc" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-white ba b--black w-100 w-50-ns tc" }}

<form class="black-80 tc sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form" name="contact" data-netlify="true">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your Name</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Email Address</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">Message</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>
<br>
    <input class="dib w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black w-100 w-50-ns f5" type="submit" value="Send Message" />

</form>
